@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

p.hr-text{
    overflow: hidden;
    text-align: center;
}

p.hr-text:before, p.hr-text:after{
    background-color: #d9d9d9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

p.hr-text:before{
    right: 0.5em;
    margin-left: -50%;
}

p.hr-text:after{
    left: 0.5em;
    margin-right: -50%;
}

div.membership-term{
    background-color: rgba(255,255,255, 0.6);
	height: 100vh;	
    transition: all 500ms;					
}

div.membership-term:hover{
    background-color: rgba(0,0,0, 0.2);
            transition: all 500ms;	
            cursor: pointer			
}

.tier-card {
    text-align: center
}

.tier-card .custom-title p {
    font-size: 60px;
    font-weight: 700;
}

.tier-card .custom-card {
    margin-bottom: 20px;
}


.tier-card .custom-card > .features {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tier-card .custom-card > p {
    padding: .25em 0;
}

.watch-card {
    text-align: center;
    border-radius: 0px;
    justify-content: center;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}

.watch-card.reserved .watch-image {
    opacity: 0.3;

}

.watch-card.reserved .watch-details {
    opacity: 0.3;
}

.watch-card .watch-state{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    opacity: 0;
}

.watch-card.reserved .watch-state{
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

.watch-card:hover {
    cursor: pointer;
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.watch-card .watch-details {
   margin: 20px 0px;
}