@import "../node_modules/antd/dist/antd.less";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Krona+One');

// see list of variables in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: white;
// @primary-2: 'red';  // replace tint(@primary-color, 80%)
// // unused
// @primary-3: 'blue';
// @primary-4: 'green';
// // Color used to control the text color in many active and hover states.
// @primary-5: 'orange';  // replace tint(@primary-color, 20%)
// @primary-6: 'purple';                                // don't use, use @primary-color
// // Color used to control the text color of active buttons.
// @primary-7: 'pink';  // replace shade(@primary-color, 5%)
// // unused
// @primary-8: 'yellow';

@body-background: #000;
@component-background: #000;

@text-color: fade(#fff, 90%);
@font-size-base: 14px;
@border-radius-base: 0px;
@border-radius-radio: 4px;
@border-radius-sm: 0px;
@font-family: 'Open Sans', sans-serif;

// Shadow
@shadow-color           : #fff;
// @box-shadow-base        : @shadow-1-down;
// @shadow-1-up            : 0 -1px 6px @shadow-color;
@shadow-1-down          : 0 0 6px 0px @shadow-color;
// @shadow-1-left          : -1px 0 6px @shadow-color;
// @shadow-1-right         : 1px 0 6px @shadow-color;
// @shadow-2               : 0 2px 8px @shadow-color;

// Unify letter spacing
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    letter-spacing: 0.04em;
}

// Header
@heading-color: #fff;
@heading-font-family: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6 {
  color: @heading-color;
  font-family: @heading-font-family;
  letter-spacing: 0.2em;
}

// Button
@btn-default-bg         : transparent;

@btn-primary-color      : #000;
@btn-primary-bg         : @primary-color;

@btn-default-color      : #fff;
@btn-default-bg         : transparent;
@btn-default-border     : #fff;

.button-variant-primary(@color; @background) {
  .button-color(@color; @background; @background);
  &:hover {
    .button-color(@background; @color; @background);
  }
  &:focus {
    .button-color(@background; ~`colorPalette("@{color}", 5)`; ~`colorPalette("@{background}", 5)`);
  }
  &:active,
  &.active {
    .button-color(@background; ~`colorPalette("@{color}", 7)`; ~`colorPalette("@{background}", 7)`);
  }
  .button-disabled();
}

.btn-default() {
  .button-variant-other(@btn-default-color; @btn-default-bg; @btn-default-border);
  &:hover {
    .button-color(#000; @btn-default-color; @btn-default-border);
  }
  &:focus,
  &:active,
  &.active {
    .button-color(#000; @btn-default-color; @btn-default-border);
  }
}

// Radio Button
.@{radio-prefix-cls} {
  .@{radio-prefix-cls}-wrapper:hover &,
  &:hover,
  &-focused {
    .@{radio-inner-prefix-cls} {
      border-color: @border-color-base;
    }
  }
  &-inner {
    &:after {
      background-color: @border-color-base;
      border-radius: @border-radius-radio;
    }
  }
}

.@{radio-prefix-cls}-checked {
  .@{radio-inner-prefix-cls} {
    border-color: @border-color-base;
  }
}

// Input
@input-bg: fade(#fff, 10%);

@media (max-width: @screen-xs-max) {
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.25em;
  }
}

// Layout
@layout-header-background    : #000;
@layout-body-background   : #000;

.@{layout-prefix-cls} {
  &-header {
    height: 100%;
  }
}

@media (max-width:  @screen-md-max) {
    .@{layout-prefix-cls} {
      &-header {
        padding: 0 0.8em;
      }
    }
  }


// Logo
.logo{
  font-family: 'Krona One';
  font-size: 3em;
}

.@{layout-prefix-cls} .logo {
  letter-spacing: 0.1em;
  font-size: 1.75em;
  float: left;
  width: fit-content;
}

@media (max-width: @screen-md-max) {
  .@{layout-prefix-cls} .logo {
    font-size: 1.5em;
  }
}

// Menu
.@{menu-prefix-cls} {
  display: none;
  border-right: 0px solid #000;

  &-horizontal {
    display: block;
    border-bottom: 1px solid #000;
    line-height: 63px;
    float: right;
    
    > .@{menu-prefix-cls}-item,
    > .@{menu-prefix-cls}-submenu {
      border-bottom: 0px;

      &:hover,
      &-active,
      &-open,
      &-selected {
        border-bottom: 0px;
        color: @primary-color;
      }
    }
  }
}

@media (max-width: @screen-md-max) {
  .@{menu-prefix-cls} {
    display: block;

    &-horizontal {
      display: none;
    }
  }
}

@media (min-width: @screen-lg-min){
  .cus-collapsed-menu-icon{
    display: none;
  }
}

.cus-collapsed-menu{
  width: 150px;
  right: 1px;
  position: absolute;
  > .@{menu-prefix-cls}-item,
  > .@{menu-prefix-cls}-submenu {
    background-color: black;
  }
}

// Banner
.banner {
  height: 70vh;
  vertical-align: middle;
}



// Card
.@{card-prefix-cls} {
  &:not(&-no-hovering):hover {
    border-color: inherit;
  }
}


// Input
@input-placeholder-color     : @disabled-color-dark;



//************************//
p.hr-text{
    overflow: hidden;
    text-align: center;
}

p.hr-text:before, p.hr-text:after{
    background-color: #d9d9d9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

p.hr-text:before{
    right: 0.5em;
    margin-left: -50%;
}

p.hr-text:after{
    left: 0.5em;
    margin-right: -50%;
}

div.membership-term{
    background-color: rgba(255,255,255, 0.6);
	height: 100vh;	
    transition: all 500ms;					
}

div.membership-term:hover{
    background-color: rgba(0,0,0, 0.2);
            transition: all 500ms;	
            cursor: pointer			
}

.tier-card {
    text-align: center;
    margin-bottom: 8px;
}

.tier-card .custom-title p {
    font-size: 60px;
    font-weight: 700;
}

.tier-card .custom-card {
    margin-bottom: 20px;
}

.tier-card .custom-card > .features {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tier-card .custom-card > p {
    padding: .25em 0;
}

.watch-card {
    text-align: center;
    border-radius: 0px;
    justify-content: center;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}

.watch-card.reserved .watch-image {
    opacity: 0.3;

}

.watch-card.reserved .watch-details {
    opacity: 0.3;
}

.watch-card .watch-state{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    opacity: 0;
}

.watch-card.reserved .watch-state{
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

.watch-card:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.watch-card .watch-details {
   margin: 20px 0px;
}

.ant-btn.sign-up-facebook{
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(59, 89, 152);
    color: white;
    border-width: 0px;
}

.ant-btn.sign-up-google{
    margin-bottom: 24px;
    width: 100%;
    background-color: rgb(209, 72, 54);
    color: white;
    border-width: 0px;
}

.optin-form button{
  .ant-btn;
  margin: 8px;
}

.optin-form input{
  .ant-input; 
  width: 220px;
  margin: 8px;
}

.content-center{
  text-align: center;
}

.list-of-features{
  text-align: center;
}

.list-of-features p{
  margin: 1em 0;
}



// SECTION //

section {
  padding: 4.5em 50px;
  
  .topic{
    text-align: center;
    margin-bottom: 1.5em; 
    h2{
      font-weight: 700;
      font-size: 2em;
    }
  }

  .section-content{
    margin: 3em 50px;
  }
}

section.white-section{
  background-color: white;
  color: black;
  .topic{
    h2{
      color: black;
    }
  }
}

#how-it-works .details{
  margin-top: 2em;
  
  p {
    margin-top: 1em;
  }
}

@media (max-width: @screen-md-max) {
  #how-it-works .details p{
    margin-bottom: 2em;
  }
}

#tier-list  {
  .section-content{
    margin: 3em 0;
    .middle{
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
    }
  }
}

@media (max-width: @screen-md-max) {
  #tier-list  {
    .section-content{
      .middle{
        border-left: 0px;
        border-right: 0px;
        margin: 2em 0em;
      }
    }
  }
}

#view-all-models{
  text-align: center;
  margin-top: 5em;
  button{
    font-size: 1em;
    color: black;
    border-color: black;
    padding: 0 2em;
  }
}



