@import "../node_modules/antd/dist/antd.less";
@import "layouts/layout.less";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato:100,300,400,700,900');

// see list of variables in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// -------- Colors -----------
@primary-color          : #fbfbfb;
// @info-color             : @blue-6;
// @success-color          : @green-6;
// @error-color            : @red-6;
// @highlight-color        : @red-6;
// @warning-color          : @yellow-6;
// @normal-color           : #d9d9d9;

@body-background            : #000;
@component-background       : #000;

// -------- Typography -----------
@font-family                : 'Lato', sans-serif;
@heading-font-family        : @font-family;
@heading-color              : #fff;
@text-color                 : @primary-color;
@text-color-secondary       : fade(@primary-color, 67%);
@heading-color-dark         : #000;
@text-color-dark            : #0E0E0E;
@text-color-secondary-dark  : fade(@text-color-dark, 80%);
@font-size-base: 14px;

// -------- Border -----------
@border-radius-base: 0px;
@border-radius-radio: 4px;
@border-radius-sm: 0px;


// Shadow
@shadow-color           : #fff;
// @box-shadow-base        : @shadow-1-down;
// @shadow-1-up            : 0 -1px 6px @shadow-color;
@shadow-1-down          : 0 0 6px 0px @shadow-color;
// @shadow-1-left          : -1px 0 6px @shadow-color;
// @shadow-1-right         : 1px 0 6px @shadow-color;
// @shadow-2               : 0 2px 8px @shadow-color;

// Unify letter spacing
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    letter-spacing: 0.04em;
}

// -------- Header -----------
h1, h2, h3, h4, h5, h6 {
  color: @heading-color;
  font-family: @heading-font-family;
  letter-spacing: 0.2em;
}

h3{
  font-size: 1em;
}

@media (max-width: @screen-xs-max) {
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.25em;
  }
}

// -------- P -----------
p{
  font-weight: 300;
}

// Button
@btn-default-bg         : transparent;

@btn-primary-color      : #000;
@btn-primary-bg         : @primary-color;

@btn-default-color      : #fff;
@btn-default-bg         : transparent;
@btn-default-border     : #fff;

.button-variant-primary(@color; @background) {
  .button-color(@color; @background; @background);
  &:hover {
    .button-color(@background; @color; @background);
  }
  &:focus {
    .button-color(@background; ~`colorPalette("@{color}", 5)`; ~`colorPalette("@{background}", 5)`);
  }
  &:active,
  &.active {
    .button-color(@background; ~`colorPalette("@{color}", 7)`; ~`colorPalette("@{background}", 7)`);
  }
  .button-disabled();
}

.btn-default() {
  .button-variant-other(@btn-default-color; @btn-default-bg; @btn-default-border);
  &:hover {
    .button-color(#000; @btn-default-color; @btn-default-border);
  }
  &:focus,
  &:active,
  &.active {
    .button-color(#000; @btn-default-color; @btn-default-border);
  }
}

// Radio Button
.@{radio-prefix-cls} {
  .@{radio-prefix-cls}-wrapper:hover &,
  &:hover,
  &-focused {
    .@{radio-inner-prefix-cls} {
      border-color: @border-color-base;
    }
  }
  &-inner {
    &:after {
      background-color: @border-color-base;
      border-radius: @border-radius-radio;
    }
  }
}

.@{radio-prefix-cls}-checked {
  .@{radio-inner-prefix-cls} {
    border-color: @border-color-base;
  }
}

// Input
@input-bg: fade(#fff, 10%);



// -------- Section -----------
section {
  padding: 120px 0px;

  @media (max-width : @screen-xs-max) {
    padding: 60px 0px;
  }
  
  .section-title{
    text-align: center;
    padding-bottom: 90px;

    @media (max-width : @screen-xs-max) {
      padding-bottom: 45px;
    }

    h1{
      > span {
        font-weight: 900;
      }
    }
  }

  .section-title-more{
    letter-spacing: 0.3em;
    font-size: 0.7em;
    line-height: 3em; 
    color: @text-color-secondary;
  }

  .section-content{
    font-size: 1.15em;
    p{
      padding-bottom: 2em;
    }
  }
}

section.white-section{
  background-color: white;
  color: @text-color-dark;
  .section-title{
    h1{
      color: @heading-color-dark;
    }
  }
  .section-title-more{
    color: @text-color-secondary-dark;
    
  }
}




// Card
.@{card-prefix-cls} {
  &:not(&-no-hovering):hover {
    border-color  : inherit;
  }
}




/* =========================================
  SPECIFIC COMPONENTS
============================================ */

// -------- Banner -----------
.banner {
  height: 360px;
  vertical-align: middle;

  @media (min-width: @screen-sm-min) {
    height: 410px;
  }
  @media (min-width: @screen-md-min) {
    height: 550px;
  }
  @media (min-width: @screen-lg-min) {
    height: 100vh;
  }

  h1{
    font-weight   : 900;
    width         : 80%;
    @media (min-width: @screen-sm-min) {
      width: 70%;
    }
  }

  p{
    width: 80%;
    @media (min-width: @screen-sm-min) {
      width: 70%;
    }
  }
}

// -------- Banner Tag Line ----------- 
.banner-tag-line{
  opacity         : .75; 
  font-size       : medium;
  letter-spacing  : 0.08em;
}

// -------- Tier List -----------
#tier-list  {
  .section-title{
    @media (max-width: @screen-xs-max) {
      padding-left: 60px;
      padding-right: 60px;
    }  
  }
  .section-content{
    p{
      @media (max-width: @screen-xs-max) {
        padding-bottom: 0em;
      }
    }

    .content-center{
      padding-bottom: 1em;

      @media (max-width: @screen-md-max) {
        padding-bottom: 2em;
      }
    }

    .middle{
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;

      @media (max-width: @screen-md-max) {
        border-left: 0px;
        border-right: 0px;
        margin: 2em 0em;
      }
    }
  }

  #view-all-models{
    text-align: center;
    margin-top: 5em;
    button{
      font-size: 1em;
      padding: 0 2em;
    }
  }
}

// -------- How it works -----------
#how-it-works .details{
  @media (max-width: @screen-md-max) {
    margin-bottom: 2.5em;
  }

  .@{iconfont-css-prefix} {
    color: @text-color-secondary-dark;
    font-size: 30px;
  }

  p {
    margin: 1em auto 0;
    width: 220px;

    @media (max-width: @screen-md-max) {
      margin-bottom: 0em;
      padding-bottom: 0em;
    }
  }
}

// -------- What to expect -----------
#what-to-expect-section{
  text-align: center;
  h3{
    padding: 2em 1em 1em;
  }
  img{
    width: 200px;
    height: 200px;
  }
  p{
    color: @text-color-secondary;
    width: 220px;
    margin: 0 auto;
  }
}





p.hr-text{
    overflow: hidden;
    text-align: center;
}

p.hr-text:before, p.hr-text:after{
    background-color: #d9d9d9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

p.hr-text:before{
    right: 0.5em;
    margin-left: -50%;
}

p.hr-text:after{
    left: 0.5em;
    margin-right: -50%;
}

div.membership-term{
    background-color: rgba(255,255,255, 0.6);
	height: 100vh;	
    transition: all 500ms;					
}

div.membership-term:hover{
    background-color: rgba(0,0,0, 0.2);
            transition: all 500ms;	
            cursor: pointer			
}

.tier-card {
    text-align: center;
    margin-bottom: 8px;
}

.tier-card .custom-title p {
    font-size: 60px;
    font-weight: 700;
}

.tier-card .custom-card {
    margin-bottom: 20px;
}

.tier-card .custom-card > .features {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tier-card .custom-card > p {
    padding: .25em 0;
}

.watch-card {
    text-align: center;
    border-radius: 0px;
    justify-content: center;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}

.tier-collection{
  padding: 10px;
  .tier-name{
    padding-bottom: 1em;
    text-align: center;
    h2{
      font-weight: bolder;
        display: table;
        white-space: nowrap;
        &:before, &:after {
          border-top: 1px solid #C7C7C7;
          content: '';
          display: table-cell;
          position: relative;
          top: 0.65em;
          width: 50%;
        }
        &:before { right: 2%; }
        &:after { left: 2%; }
    }
  }
}
.watch-item {
  text-align: center;
  margin: 1em 0;
  .watch-image{
    img{
      width: 200px;
    }
  }
  .watch-details{
    p{
      color: #C7C7C7;
    }
  }
}

.watch-card.reserved .watch-image {
    opacity: 0.3;

}

.watch-card.reserved .watch-details {
    opacity: 0.3;
}

.watch-card .watch-state{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    opacity: 0;
}

.watch-card.reserved .watch-state{
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

.watch-card:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.watch-card .watch-details {
   margin: 20px 0px;
}

.ant-btn.sign-up-facebook{
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(59, 89, 152);
    color: white;
    border-width: 0px;
}

.ant-btn.sign-up-google{
    margin-bottom: 24px;
    width: 100%;
    background-color: rgb(209, 72, 54);
    color: white;
    border-width: 0px;
}

.optin-form button{
  .ant-btn;
  margin: 8px;
}

.optin-form input{
  .ant-input; 
  width: 220px;
  margin: 8px;
}

.content-center{
  text-align: center;
}









// -------- Brand List -----------
#brand-list {
  padding-left: 120px;
  padding-right: 120px;
  img{
    max-width:100%; 
    max-height:100%;
    padding: 20px;
  }
}

@media (max-width: @screen-sm-max) {
  #brand-list {
    padding: 4.5em 30px;

    section.section-content {
      margin: 0; 
    }

  }
}

#faq{
  padding-left: 15em;
  padding-right: 15em;
  font-size: 16px;

  h2{
    letter-spacing: .04em;
  }

  .content{
    padding-bottom: 1em;
  }
}




